<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">
    <ion-button (click)="presentAlert()" expand="block">
        Alert Present
    </ion-button>
    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        Alert Multiple Buttons
    </ion-button>
    <ion-button (click)="presentAlertConfirm()" expand="block">
        Present Alert Confirm
    </ion-button>
    <ion-button (click)="presentAlertPrompt()" expand="block">
        Present Alert Confirm
    </ion-button>
    <ion-button (click)="presentAlertRadio()" expand="block">
        Present Alert Radio
    </ion-button>
    <ion-button (click)="presentAlertCheckbox()" expand="block">
        Present Alert CheckBox
    </ion-button>
</ion-content>
